# Visual Studio / .NET common ignores
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/
Debug/
Release/
app.publish/

# Rider
.idea/

# VSCode
.vscode/

# Assembly and publish artifacts
*.exe
*.dll
*.pdb
*.cache

# Publish
*.publish

# Others
TestResults/
*.log
*.tmp
.DS_Store
